<div class="survey-mock-wrapper">

    <div class="survey-title">{{survey.title}}</div>
    <div class="survey-desc-head">Description:</div>
    <div class="survey-desc">{{survey.description}}</div>

    <div *ngFor="let question of survey.questions,let i = index">
        <div>
            <div class="question-header"> Question {{i+1}}: </div>
            <div class="question-qno"> {{question.title}} </div>
        </div>

        <div *ngIf="survey.type==='mcqs'" class="optionsBox">
            <app-mc-qs-option *ngFor="let choice of question.options,let i = index"  [showCheckBox]='false' [(choices)]="question.options" [index]='i'></app-mc-qs-option>
        </div>
    
        <div *ngIf="survey.type==='shortanswer'" class="optionsBox">
            <mat-form-field class="example-full-width fillsurveytextbox" appearance="outline">
                <mat-label>Your Response</mat-label>
                <input matInput placeholder="Your Response" [(ngModel)]="question.options[0]">
            </mat-form-field>    
        </div>
    
        <div *ngIf="survey.type==='agreedisagree'" class="optionsBox">
            <mat-radio-group class="radiogrup" aria-label="Select an option" [(ngModel)]="question.options">
                <mat-radio-button class="agree-button" color="primary" value="true">Agree</mat-radio-button>
                <mat-radio-button class="agree-button" color="primary" value="false">Disagree</mat-radio-button>
            </mat-radio-group>
        </div> 

        <!-- <div *ngIf="survey.type==='agreedisagree'" class="optionsBox">
            <mat-radio-group class="radiogrup" aria-label="Select an option" [(ngModel)]="question.options">
                <mat-radio-button class="agree-button" color="primary" value="true">Agree</mat-radio-button>
                <mat-radio-button class="agree-button" color="primary" value="false">Disagree</mat-radio-button>
            </mat-radio-group>
        </div>  -->
    </div>

   

    <button mat-raised-button color="primary" class="saveSurveyButton" (click)="saveSurvey()">Save Record</button>


</div>